<!DOCTYPE html>
<html>

  <head>
    <Title>Tripcited!</Title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="travelApp" ng-controller="MainController as main">

    <div ng-repeat="post in main.posts | orderBy: 'upvotes' ">
      {{post.title}} - upvotes: {{post.upvotes}}
      <button ng-click="incrementUpvotes(main.upvotes)">^</button>
    </div>
      <form ng-submit="main.addPost()">
      <input type="text" ng-model="main.title">
      <button type="submit">Post</button>
      </form>
      <form ng-submit="main.addpost()">
        <input type="test" placeholder="Add your link here" ng-model="title">
        <br>
        <input type="text" placeholder="link" ng-model="link">
        <br>
        <button type="submit">Link</button>
      </form>
  </body>
</html>
