<!DOCTYPE html>
<html>

  <head>
    <Title>Tripcited!</Title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="travelApp" ng-controller="MainController as main">

    <div ng-repeat="post in main.posts | orderBy: 'upvotes' ">
      <span ng-click="incrementUpvotes(main.upvotes)">^</<span>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
        - upvotes: {{post.upvotes}}
    </div>
    <br>
      <form ng-submit="main.addPost()">
      <input type="text" placeholder="Write your post here" ng-model="main.title">
      <br>
      <input type="text" placeholder="Insert your link here" ng-model="main.link">
      <button type="submit">Post</button>
      </form>
  </body>
</html>
