<!DOCTYPE html>
<html ng-app="travelApp">

  <head>
    <Title>Tripcited!</Title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <style>
        .navbar { border-radius:0; }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <!-- resource script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <!-- ui-router script -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

    <script src="app.js"></script>
    <script src="js/PostResource.js"></script>
    <script src="js/postsController.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>

  <body ng-controller="postsController as content">

    <div class="navbar-container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Tripcited!</a>
      </div>
      <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="profile">Profile</a></li>
      </ul>
    </nav>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Tripcited!</h1>
        </div>

      <!-- Displays posted posts -->
      <div ng-repeat="vm in content.posts | orderBy: 'upvotes' ">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(upvotes)">^</span>
          {{vm.upvotes}}
          <span style="font-size:20px; margin-left:10px;">
          <a ng-show="vm.link" href="{{vm.link}}">
          {{vm.title}}
          </a>
          <span ng-hide="vm.link">
          {{vm.title}}
          </span>
          </span>
      </div>

      <!-- input fields for post -->
        <form ng-submit="content.addPost()" style="margin-top:30px;">
          <h3>Add a post</h3>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" ng-model="content.title"></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Link" ng-model="content.link">
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>

      <script type="text/ng-template" id="/home.html">
      <ui-view>
        <div ng-repeat="comment in content.comments  | orderBy: '-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size: 20px; margin-left: 10px;">
        {{comment.body}}
        </span>
      </div>
      </ui-view>
      </script>
      </div>
    </div>
  </body>
</html>
